
.layout {
  background-color: #efefef;
  display: grid;
  grid-template-columns: 1em auto 1em;
  grid-template-areas: 
    "header header header"
    ". container ."
    "footer footer footer";
}

.main-header {
  grid-area: header;
}

.main-container {
  grid-area: container;
}

.main-footer {
  grid-area: footer;
  text-align: center;
  margin-top:20px;
}